<div class="panel" id="m<%= message.id %>">
  <div class="panel-body">
    <%= image_tag avatar_url(message.user), class: "img-circle avatar-medium" %>
    <strong><%= message.user.fullname %></strong>
    <span class="pull-right"><%= message.message_time %></span>
    <br/>
    <div class="row-space-2">
      <%= message.context %>
    </div>
    <% if message.belongs_to?(user) %>
      <%= link_to "delete", message_path(message),
        data: { confirm: "Are you sure? This action cannot be undone." },
        method: :delete, remote: true, class: "pull-right" %>
    <% end %>
  </div>
</div>
