<%= render "shared/suppliers_navbar" %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Reservations
      </div>
      <div class="panel-body">

        <% @reservations.each do |reservation| %>
          <div class="row">
            <div class="col-md-2">
              <%= reservation.datetime.strftime('%v') %>
              <%= reservation.datetime.strftime('%R') %>
              <p><%= reservation.status %></p>
              <div class="form-inline">
                <% if reservation.waiting? %>
                  <%= link_to approve_suppliers_reservation_path(reservation), method: :post do %>
                    <i class="fa fa-thumbs-up fa-lg"></i>
                  <% end %> |
                  <%= link_to decline_suppliers_reservation_path(reservation), method: :post do %>
                    <i class="fa fa-thumbs-down fa-lg"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-2">
              <%= link_to room_path(reservation.room) do %>
                <%= image_tag reservation.room.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to reservation.room.name, room_path(reservation.room) %><br/><br/>
              <span>
                <%= image_tag avatar_url(reservation.user), class: "img-circle avatar-small" %>
                <%= link_to reservation.user.fullname, user_path(reservation.user) %>

                <% if current_user.id != reservation.user_id %>
                  (<%= link_to "send message", conversations_path(sender_id: current_user.id, recipient_id: reservation.user_id),
                   method: :post %>)
                 <% end %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= render "reviews/host_form", reservation: reservation if reservation.approved? %>
            </div>
          </div>
          <hr/>
        <% end %>

      </div>
    </div>
  </div>
</div>
