<% provide(:title, "Users") %>

<% @users.each do |user| %>
  <div class="row admin-row">
    <div class="col-md-4">
      <%= image_tag avatar_url(user), class: "img-circle avatar-small" %>
      <span class="admin-text-box"><%= user.fullname %></span>
    </div>
    <div class="col-md-3">
      <%= status_icon_for(user.confirmation_token) %>
      <span class="admin-text-box"><%= user.email %></span>
    </div>
    <div class="col-md-3">
      <%= status_icon_for(user.phone_verified) %>
      <span class="admin-text-box"><%= user.phone_number %></span>
    </div>
    <div class="col-md-2">
      <%= link_to "view clinics", panel_user_clinics_path(user) %>
    </div>
  </div>
<% end %>
